:root {
  --blue: #17bebb;
  --light-green: #98dfaf;
  --cream: #deefb7;
  --white: #ffffff;
  --black: #000000;
  --grey: var(--black);
  --canvas: rgb(0, 0, 0);

  --terminal-green: green;
  --main-color: #c0c0c0c0;
  --after-hover: #ffffff;

  --start-gradient: #083d0c;
  --end-gradient: var(--black);
  --img-color: #181c1b;
  --😀: #000000;
  --😀😀: var(--main-color);
  --😀😀😀: hsla(0, 1%, 17%, 0.388);

  --arrow-clr: rgb(110, 110, 110);
  --arrow-clr-dark-10: #4e4e4e;
  --arrow-clr-dark-15: #3b3b3b;
  --arrow-clr-dark-20: #414040;
}

@font-face {
  font-family: cyberpunk;
  src: url("static/sdcyberpunkcitydemo/SDCyberPunkCityDemo.otf");
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--img-color);
  /* font-family: "Times New Roman", Times, serif; */

  font-family: monospace;
}

.arrow-social-container {
  display: flex;
  flex-direction: column;
}
.social-container {
  display: flex;
  flex-direction: row;
  align-items: right;
  margin-bottom: 0;
}

.social-icons-btn {
  display: flex;
  margin-left: auto;
}
.icons {
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  background: #111;
  margin: 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 2px #d1d1d1;
  color: #fff;
  cursor: pointer;
  transition: all 0.15s ease;
}

@media screen and (max-width: 800px) {
  .icons {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    background: #111;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 2px #d1d1d1;
    color: #fff;
    cursor: pointer;
    transition: all 0.15s ease;
  }
}
.twitter:hover {
  background: #00ecee;
}
.github:hover {
  background: #5d5e5f;
}
.mail-outline:hover {
  background: rgb(106, 30, 30);
}
.linkedin:hover {
  background: #0a66c2;
}

button,
#shape-list {
  margin-top: 0;
  font-family: monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}
.toggle-btn,
#shape-list {
  background-color: var(--black);
  color: rgb(255, 255, 255);
  border: none;
  /* margin: auto; */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.canvas-container {
  background-color: var(--img-color);
  padding: 2vh;

  display: flex;
  align-items: center;
  /* padding: 5px solid #19647e; */
}

@media (max-width: 1500px) {
  .canvas-container {
    padding-right: 2vh;

    display: flex;
    align-items: center;
    /* padding: 5px solid #19647e; */
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 13vh; */
  margin: auto;
}

.bottom-container {
  background-image: url("static/dragon.jpg");
  display: flex;
  min-width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: var(--black);
}

@media (max-width: 1500px) {
  .bottom-container {
    flex-direction: row;
    /* align-items: center; */
  }
}

.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1500px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 1500px) {
  .controls-container {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}
/* 
canvas {
  border: 1px solid var(--main-color);
  margin: auto;
  height: 95.7vh;
  width: 100%;
  transform: skew(deg);
  background-color: var(--canvas);
  border-radius: 0.2em;
} */

.cc {
  border: 1px solid var(--main-color);
  /* margin: auto; */
  height: 95.7vh;
  width: 79vw;
  transform: skew(deg);
  background-color: var(--canvas);
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1500px) {
  .cc {
    border: 1px solid var(--main-color);
    /* margin: auto; */
    height: 69vh;
    width: 92svw;
    transform: skew(deg);
    background-color: var(--canvas);
    border-radius: 0.2em;
  }
}
/* BUTTON CSS */
button,
#shape-list {
  cursor: pointer;
  width: 250px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 0;
  gap: 2rem;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: 0.75rem;
  box-shadow: 0 7px 0 var(--😀😀);
  /* transform: skew(-10deg); */
  transition: all 0.1s ease;
  filter: drop-shadow(0 7px 10px var(--😀😀😀));
}

.button:active {
  letter-spacing: 1px;
  transform: skew(0deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

.button.active {
  letter-spacing: 0px;
  transform: skew(0deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

@media (max-width: 1500px) {
  .button,
  #shape-list {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    width: 150px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 1rem;
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: var(--😀);
    border: 2px solid var(--😀😀);
    border-radius: 0.75rem;
    box-shadow: 0 7px 0 var(--😀😀);
    /* transform: skew(-15deg); */
    transition: all 0.1s ease;
    filter: drop-shadow(0 7px 10px var(--😀😀😀));
  }

  .button:active {
    letter-spacing: 0px;
    transform: skew(0deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀);
  }
}

/* arrows */

.arrows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 290px;
  width: 290px;
  min-height: 290px;
  min-width: 290px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300);

@import url(https://fonts.googleapis.com/css?family=Lato:300);

html {
  background: radial-gradient(#000, #111);
  height: 100%;
}

.keys {
  font-family: "Lato", sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.arr {
  cursor: pointer;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 35px;
  text-align: center;
  vertical-align: middle;

  background: var(--arrow-clr);

  border-right: 10px solid var(--arrow-clr-dark-20);
  border-bottom: 10px solid var(--arrow-clr-dark-20);
  border-left: 10px solid var(--arrow-clr-dark-15);
  border-top: 10px solid var(--arrow-clr-dark-10);
  display: inline-block;
  margin: 5px;
  transition: all 0.05s linear;
  &:active {
    border-bottom: 8px solid var(--arrow-clr-dark-20);
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
    transform: translate(0, 2px);
  }
  user-select: none;
}

.top-row,
.middle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.up {
  position: relative;
  top: -4px;
}

.pressed {
  border-bottom: 8px solid var(--arrow-clr-dark-20);
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.names {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.b {
  color: blue;
  text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
  font-size: 50px;
  font-family: serif;
}

.a {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow,
    0 0 10px yellow;
  font-size: 50px;
  font-family: serif;
}

@media (max-width: 1500px) {
  .arrows-container {
    margin: auto;
    height: 75px;
    width: 215px;
    min-height: 140px;
    min-width: 215px;
  }

  @import url(https://fonts.googleapis.com/css?family=Lato:300);

  @import url(https://fonts.googleapis.com/css?family=Lato:300);

  html {
    background: radial-gradient(#000, #111);
    height: 100%;
  }

  .arr {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--arrow-clr);
    color: white;
    font-size: 30px;

    border-right: 7px solid var(--arrow-clr-dark-20);
    border-bottom: 7px solid var(--arrow-clr-dark-20);
    border-left: 7px solid var(--arrow-clr-dark-15);
    border-top: 7px solid var(--arrow-clr-dark-10);
    display: inline-block;
    margin: 1px;
    transition: all 0.05s linear;
    &:active {
      border-bottom: 8px solid var(--arrow-clr-dark-20);
      text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;
      transform: translate(0, 2px);
    }
    user-select: none;
  }

  .pressed {
    border-bottom: 4px solid var(--arrow-clr-dark-20);
    text-shadow: 0 0 10px white;
    transform: translate(0, 2px);
  }

  .b {
    color: blue;
    text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
    font-size: 25px;
    font-family: serif;
  }

  .a {
    color: yellow;
    text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow,
      0 0 10px yellow;
    font-size: 25px;
    font-family: serif;
  }
}
i,
.ion {
  margin-top: 20%;
}

.pause-toggle {
  margin-bottom: 6px;
}

.red {
  background-color: rgb(173, 11, 11);
}

.green {
  background-color: rgb(77, 176, 52);
}
